
CPP_OOP/MainFrame/.vs/MainFrame/v16/Browse.VC.db-shm
CPP_OOP/MainFrame/.vs/MainFrame/v16/Browse.VC.db
CPP_OOP/MainFrame/.vs/MainFrame/v16/Browse.VC.db-wal
CPP_OOP/MainFrame/.vs/MainFrame/v16/Browse.VC.opendb
CPP_OOP/MainFrame/.vs/MainFrame/v16/ipch/AutoPCH/cac89d46e719cca9/MAIN.ipch
CPP_OOP/MainFrame/MainFrame.sln
CPP_OOP/MainFrame/MainFrame.vcxproj
CPP_OOP/MainFrame/MainFrame.vcxproj.filters
CPP_OOP/MainFrame/MainFrame.vcxproj.user
